/*
* @Author: Administrator
* @Date:   2016-05-13 15:50:18
* @Last Modified by:   Administrator
* @Last Modified time: 2016-05-13 15:55:37
*/

p{
	width: 2.0rem;
    height: 0.853333rem;
    font-size: 0.373333rem;
    border: 0.013333rem solid #ddd;
}